*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(0, 0, 0);
    font-family: sans-serif;
}
.pai{

    width:50%;
	height: 30vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    margin-left: 25%;
	justify-content:space-between;  
}

.pai p{
    margin-top: 5vh;
    color: rgb(255, 255, 255);
    font-size: 4vh;
}
.a1{
    text-decoration: none;

}
.poster{
    width:100%;
	height: 20vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	
    
}
.poster img{
    width: 25%;
    margin-left: 5%;
    
   

}.info{
   margin-left: 3%;
    margin-top: 2%;
}
h1{
    font-size: 5vh;
    color: rgb(255, 255, 255);

}
.info p{
    color: white;
    margin-top: 2vh;
}
.assitir{
    width: 40vh;
    height: 10vh;
    margin-top: 4vh;
    border-width: 100%;
    border-style: solid;
    border-color: rgb(209, 20, 20);
    border-radius: 10px;
}
.assitir p{
    color:rgb(209, 20, 20) ;
    margin-top: -3vh;
    text-decoration: none;
}
.assitir img{
   margin-top: -4vh;
    width: 20vh;
}
.premios{
    margin-top: 15vh;
    margin-left: 4%;
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
}
.premios h1{
    text-align: center;
    font-size: 7vh;
}
.premios p{
    text-align: center;
    color: white;
    font-size: 3vh;
}
.linha{ 
    margin-top:10vh ;
    width: 100%;
    height: 0.5vh;
    background-color: rgb(209, 20, 20) ;
}
footer{
    width: 100%;
}
footer p{
    color: aliceblue;
    margin-top: 8vh;
    margin-left: 5%;
    text-align: center;
}
.elenco{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    height: 60vh;
	justify-content:flex-start;
    margin-top: 3vh;
    margin-bottom: 3vh;
}
.elenco img{
    width: 23%;
    height: 60vh;
    margin-left: 25vh;
  

}
.h1-elenco{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
    margin-top: 3vh;
}
.elenco p{
    color: aliceblue;
    margin-left: 2vh;
    font-size: 2vh;
}
.mudança{
    margin-left: -10%;
}
#inicial{
    font-size: 3vh;
    margin-top: 3vh;
    color:aliceblue ;
    margin-left: 25vh;
}
iframe{
    margin-top: 3vh;
    width: 50%;
    height: 50vh;
    margin-left: 25%;
}
#pt{
    color: white;
    text-align: center;
    font-size: 3vh;
}
